.content {
height: calc(100%-64px);
overflow: auto;
padding: 12px;
padding-top: 76px;
margin-left: 256px;
}

.drawer {
    position: absolute;
    margin-top: 64px;
    height: calc(100% - 64px);
}

.loginheader {
	background-color: red;
}

.loginbody {
	background-color: gray;
}

.logintext {
	height: 10%;
	width: 98%
}