body{
background-image: url("../images/geometry.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}

h4{
    color: white;
}

.content {
height: calc(100%-64px);
overflow: auto;
padding: 12px;
padding-top: 76px;
padding-bottom: 6px;
margin-left: 256px;
}
.contentDocent {
height: calc(100%-64px);
overflow: auto;
padding: 10%;
padding-top: 76px;
padding-bottom: 6px;
}

.language
{
    text-align: right;
}


.drawer {
    position: absolute;
    margin-top: 64px;
    height: calc(100% - 64px);
}

.loginheader {
	background-color: #bd051f;
    color: white;
}

.loginbody {
    background: #959595; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#bbbbbb, #959595); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#bbbbbb, #959595); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#bbbbbb, #959595); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#bbbbbb, #959595);
}

.coloradologo {
	background-color: #bd051f;
    color: white;
	position:relative;
	margin-left: calc(50% - 115px);
}

.leftbanner {
	background-color: #bbbbbb;
    background: #959595; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#bbbbbb, #959595); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#bbbbbb, #959595); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#bbbbbb, #959595); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#bbbbbb, #959595);
}

#drawer {
    background: #959595; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#bbbbbb, #959595); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#bbbbbb, #959595); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#bbbbbb, #959595); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#bbbbbb, #959595);
}

.footer {
    background: #959595;
    padding-left: 12px;
    padding-right: 12px;
    text-align: right;
}

.paper {
    background: #d1d1d1;
}


