<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 		<!-- 104.40.217.248:5432 -->
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://104.40.217.248:5432/pgdb</property>
        <property name="hibernate.connection.username">hibernateuser</property>
        <property name="hibernate.connection.password">breckenridge</property>
 <!--104.40.217.248:5432 -->
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
 
        <!-- Update all database on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>
 
        <!-- Annotated entity classes -->
        <mapping class="com.colorado.denver.model.Home"/>
        <mapping class="com.colorado.denver.model.Exercise"/>
        <mapping class="com.colorado.denver.model.Lecture"/>
        <mapping class="com.colorado.denver.model.Course"/>
        <mapping class="com.colorado.denver.model.Solution"/>
        <mapping class="com.colorado.denver.model.DenverUser"/>
        
        
    </session-factory>
</hibernate-configuration>