<!DOCTYPE html>
<html lang = "en">

   <head>
      <meta charset = "UTF-8">
      <title>Colorado - Denver</title>
   </head>

   <body id="body" style="
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    ">
      <div id = "app"></div>
      <script src = "./node_modules/highlight.js/lib/highlight.js"></script>
      <script src = "./node_modules/codemirror/lib/codemirror.js"></script>
      <link rel="stylesheet" type="text/css" href="./fonts">
      <script>hljs.initHighlightingOnLoad();</script>
      <link href="./node_modules/codemirror/lib/codemirror.css" rel="stylesheet">
      <link href="./node_modules/codemirror/theme/monokai.css" rel="stylesheet">
      <script src = "index.js"></script>         
      <link rel="stylesheet" type="text/css" href="./styles/app.css">
   </body>

</html>