<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>sample.traditional.config</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Disables Servlet Container welcome file handling. Needed for compatibility 
		with Servlet 3.0 and Tomcat 7.0 -->
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>
	
	<session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
		<listener>
		<!--http://blog.trifork.com/2014/02/28/session-timeout-and-concurrent-session-control-with-spring-security-and-spring-mvc/-->
		<!-- https://github.com/spring-projects/spring-security/blob/master/core/src/main/java/org/springframework/security/core/session/SessionRegistry.java -->
			<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
		</listener>
		<session-management>
			<concurrency-control
			max-sessions="-1"
			expired-url="localhost:8080" />
		</session-management>
    </session-config>
    
<!-- Define a SSL Coyote HTTP/1.1 Connector on port 8443 -->
	<!-- Connector port="443" maxHttpHeaderSize="8192" maxThreads="150" 
		minSpareThreads="25" maxSpareThreads="75" enableLookups="false" 
		disableUploadTimeout="true" acceptCount="100" scheme="https" secure="true" 
		SSLEnabled="true" clientAuth="false" sslProtocol="TLS" keyAlias="selfsigned" 
		keystoreFile="C:/Users/Mireille/Documents/GitHub/Denver/colorado.jks" 
		keystorePass="password"/-->
</web-app>